* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

/* navbar section */
.navbar {
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  padding: 0 20px;
}
.navbar .nav {
  max-width: 1200px;
  min-width: 1200px;
  position: relative;
  margin: 0 auto;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.navbar .left {
  display: flex;
  align-items: center;
}
.navbar .left .logo {
  display: block;
  height: 49px;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-right: 16px;
}
.navbar .left .logo:hover {
  transform: scale(1.1);
}
.navbar .location-div,
.other {
  position: relative;
}
.navbar .location-div {
  display: flex;
  align-items: center;
  margin-left: 30px;
  max-width: 300px;
  height: 30px;
  cursor: pointer;
  margin-bottom: -1px;
  padding-right: 10px;
  font-size: 14px;
}
.navbar .right {
  position: relative;
}
.location-div .other {
  font-weight: 700;
  color: #3d4152;
  float: left;
  padding-bottom: 2px;
  border-bottom: 2px solid #3d4152;
}
.location-div .other:hover {
  color: #197ef9;
  border-bottom: 2px solid #198efc;
}
.location-div .location {
  display: block;
  font-weight: 300;
  padding-left: 5px;
  margin-left: 5px;
  color: #686b78;
}
.location-div .arrow-down {
  position: absolute;
  right: -6%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #198efc;
  font-weight: 700;
}
.right .items {
  display: flex;
  align-items: center;
}
.right .items li {
  margin-right: 36px;
  color: #3d4152;
  font-size: 16px;
  font-weight: 500;
  list-style-type: none;
}
.right .items .nav-item {
  display: flex;
  align-items: center;
  padding-left: 28px;
  position: relative;
  height: 80px;
  cursor: pointer;
}
.right .items .nav-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3d4152;
  font-size: 16px;
}
.nav-item a:hover {
  color: #198efc;
}

.nav-item a span {
  padding-left: 11px;
}
.right .items li:last-child a svg {
  color: #60b246;
}
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.login-box, .signup-box {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #ccc;
  margin: 100px auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.login-box h1, .signup-box h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #ccc;
 
